<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.member">
	<insert id="insert" parameterType="MemVo">
		insert into user
		values(
			#{id},
			#{password},
			#{mname},
			#{addr},
			#{tel},
			#{allergy},
			#{question},
			#{answer}
		)
	</insert>
	<update id="update" parameterType="MemVo">
		update user set 
			password = #{password},	
			mname = #{mname},
			addr = #{addr},
			tel = #{tel},
			allergy = #{allergy},
			question = #{question},
			answer = #{answer}
		where
			id =#{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from user 
		where
		id =#{id}
	</delete>

	<select id="selectList" resultType="MemVo">
		select id, password, mname, addr, tel, allergy, question, answer
		from user
	</select>

	<select id="selectOne" parameterType="string" resultType="MemVo">
		select id, password, mname, addr, tel, allergy, question, answer
		from user
		where 
			id = #{id}
	</select>
	<select id="findMem" parameterType="MemVo" resultType="MemVo">
		select id, password, mname, addr, tel, allergy, question, answer
		from user 
		where 
			id =#{id} and question = #{question} and answer =#{answer}
	</select>

</mapper>