<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.notice">
	<insert id="insert" useGeneratedKeys="true" keyProperty="nid" parameterType="NoticeVo">
			insert into notice (ntitle, ncontent)
			values (#{ntitle},#{ncontent})
	</insert>
	<update id="update" parameterType="NoticeVo">
		update notice set 
			ntitle = #{ntitle},
			ncontent = #{ncontent}
		where
			nid =#{nid}
	</update>

	<delete id="delete" parameterType="int">
		delete from notice 
		where
		nid =#{nid}
	</delete>

	<select id="selectList" resultType="NoticeVo">
		select nid, ntitle, ncontent, ncount
		from notice
	</select>

	<select id="selectOne" parameterType="int" resultType="NoticeVo">
		select nid, ntitle, ncontent, ncount
		from notice
		where 
			nid = #{nid}
	</select>
	
	<update id="countUp" parameterType="int">
		update notice set ncount=ncount+1 
		where 
			nid=#{nid}
	</update>
	<select id="noticeSearch" parameterType="string"  resultType="NoticeVo">
		select nid, ntitle, ncontent, ncount
		from notice
		where 
		ntitle = LIKE %#{keyword}% 
	</select>
	
	
	
<!-- 		String sql = "select * from notice where ntitle = LIKE %?% "; -->
<!-- //			ps = conn.prepareStatement(sql); -->
<!-- //			ps.setString(1, keyword); -->
<!-- //			rs = ps.executeQuery(); -->
<!-- //			while(rs.next()) { -->
<!-- //				list.add(new NoticeVo(rs.getInt("nid"),rs.getString("ntitle"),rs.getString("ncontent"),rs.getInt("ncount"))); -->
<!-- //			} -->
<!-- //			 -->
</mapper>

