<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.recipeboard">
		<insert id="insert" parameterType="RecipeBoardVo">
		insert into recipeboard (user_id, rbtitle, rbcontent)
		values(
			#{user_id},
			#{rbtitle},
			#{rbcontent}
		)
	</insert>
	<update id="update" parameterType="RecipeBoardVo">
		update recipeboard set 
			rbtitle = #{rbtitle},
			rbcontent = #{rbcontent}
		where
			rbid =#{rbid}
	</update>

	<delete id="delete" parameterType="int">
		delete from recipeboard 
		where
		rbid =#{rbid}
	</delete>

	<select id="selectList" resultType="RecipeBoardVo">
		select rbid, user_id, rbtitle, rbcontent, rbcount
		from recipeboard
	</select>

	<select id="selectOne" parameterType="int" resultType="RecipeBoardVo">
		select rbid, user_id, rbtitle, rbcontent, rbcount
		from recipeboard
		where 
			rbid = #{rbid}
	</select>
	
	<update id="countUp" parameterType="int">
		update recipeboard set rbcount=rbcount+1 
		where 
			rbid=#{rbid}
	</update>
	<select id="boardSearch" parameterType="string"  resultType="RecipeBoardVo">
		select rbid, user_id, rbtitle, rbcontent, rbcount
		from recipeboard
		where 
		rbtitle LIKE %#{keyword}% 
	</select>
	
</mapper>

